*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #918c73;
 }
 header{
    display: flex;
    font-size: 24px;
    background-color:#fef4e8;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
 }

 nav{
    display: flex;
 }
 .List a{
    color: #970747;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
 }

 input{
    width: 90%;
    height: 90%;
    border-radius: 100px;
    border-color: white;
    padding-left: 2%;
    font-size: 1.2em;
 }

 button{
    height: 40px;
    width: 150px;
    border-radius: 20px;
    font-size: 1.3em;
    border-color: lightgrey
 }

 footer{
    margin: 0%;
    background-color: white;
 }

 li{
   padding-top: 0;
   padding-bottom: 5%;
 }

 h3{
   padding: 10px 20px;
 }

 div hr{
   width: 90%;
   background: rgb(150, 150, 150);
 }

 ::placeholder{
    font-style: italic;
 }


 #Jimg1{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
 }

 #Jimg2{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
 }

 #Jumbotron{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    margin: 10px;
 }
 #contenido{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding-top: 1%;
    padding-bottom: 1%;
 }

 #Sugerencias{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    background-color: #fef4e8;
    margin: 0%;
 }

 #PreSu{
    padding-top: 2%;
    color:#970747;
    font-size: 24px;
 }

 #contenedor{
    display: flex;
    justify-content: center;
    padding-top: 1%;
 }

 #Boton{
    display: flex;
    justify-content: center;
    background-color: #fef4e8;
    padding-top: 1%;
    padding-bottom: 1%;
 }

 #Social{
    display: flex;
    justify-content:left;
    padding: 0 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 20fr;
    grid-template-rows: 1fr;
 }

 #Social a img{
   padding: 10px 20px;
 }

 #Informacion{
   display: flex;
   justify-content: right;
   padding-left: 2%;
   padding-bottom: 1%;
   color: rgb(150, 150, 150);
 }

 #Informacion div ul li{
   padding: 10px 0;
 }

 #LastMessage{
   display: flex;
   justify-content: center;
   padding-top: 1%;
   padding-bottom: 0.5%;
   color: rgb(150, 150, 150);
 }
 #Line{
   display: flex;
   justify-content: center;
 }

 #check{
    display: none;
 }

 .Head-Bold{
    display: flex;
    color: white;
    font-size: 32px;
    font-weight: bold;
    justify-content: center;
    padding-bottom: 1%;
 }

 .Pictures{
   border-radius: 20px;
}

 .Cont-Norm{
    color: white;
    font-size: 24px;
    padding-right: 4%;
    padding-left: 2%;
    letter-spacing: 3px;
 }

 .footer-info{
    list-style:none;
    padding:  0 20px;
  }
 
  .opcli{
    text-decoration: none;
    transition: 0.4s;
    color: rgb(150, 150, 150);
  }

  .opcli:hover{
   color: #970747;
  }

  .mostrar-menu,.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transform: 0.4s;
  }

  .mostrar-menu{
    order: 1;
  }
  .List a:hover, .mostrar-menu:hover, .esconder-menu:hover{
    color: #918c73;
  }

  @media(max-width: 900px){

    header img{
      height: 80px;
      width: auto;
    }
    .mostrar-menu,.esconder-menu{
        display: block;
    }
    .List{
      flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #fef4e8;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }
    .List a{
      display: block;
      padding: 20px;
    }

    .esconder-menu{
      position: absolute;
      top: 40px;
      right: 40px;
    }
    
    #check:checked ~ .List{
      right: 0;
    }
    #contenido{
      flex-direction: column;
      padding: 20px 0;
    }

    .Pictures{
      margin-top: 20px;
    }

    #Sugerencias{
      padding: 10px 20px;
    }
    .Head-Bold{
      font-size: 18px;
   }
   .Cont-Norm{
      font-size: 10px;
   }
   #PreSu{
      font-size: 12px;
   }
   #Social a img{
      padding: 5px 10px;
      width: 20px;
    }

    footer{
      font-size: 10px;
    }

    .footer-info{
      padding: 0 10px;
    }
    h3{
      padding: 5px 10px;
    }
    button{
      height: 30px;
      width: 100px;
      font-size: 1em;
    }
    input{
      height: 70%;
      width: 70%;
      font-size: 1em;
    }
  }